<!--This template is created to explain how the template inheritance works-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {%block head%}{% endblock %}
  <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
</head>
<body>
  {%block body%}{% endblock %} <!--This is goes the body in the rest pages-->
  <script src="{{ url_for('static', filename='js/index.js') }}" type="text/javascript"></script>
</body>
</html>